In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
776,tt1583420,30000000,36160375,Larry Crowne,Tom Hanks|Julia Roberts|Bryan Cranston|Cedric ...,Tom Hanks,Rediscover life and love,"After losing his job, a middle-aged man reinve...",98,Comedy|Romance|Drama,Universal Pictures|Playtone Productions|Vendom...,6/30/2011,5.6,2011
826,tt1692486,25000000,27603069,Carnage,Kate Winslet|Jodie Foster|Christoph Waltz|John...,Roman Polanski,A new comedy of no manners,"In Brooklyn Bridge Park, eleven-year-old Zacha...",80,Comedy|Drama,Wild Bunch|Zanagar Films|Canal+|Constantin Fil...,9/16/2011,6.9,2011
1529,tt0383060,35000000,12506188,Zoom,Tim Allen|Courteney Cox|Chevy Chase|Spencer Br...,Peter Hewitt,They're going to save the world... as long as ...,Jack Shepard is an out-of-shape auto shop owne...,83,Fantasy|Comedy|Family,Columbia Pictures|Revolution Studios,8/11/2006,5.1,2006
373,tt0947798,13000000,327803731,Black Swan,Natalie Portman|Mila Kunis|Vincent Cassel|Barb...,Darren Aronofsky,"In the era of personal branding, the scariest ...","A ballet dancer wins the lead in ""Swan Lake"" a...",108,Drama|Mystery|Thriller,Fox Searchlight Pictures|Dune Entertainment|Pr...,12/2/2010,7.1,2010
725,tt0800369,150000000,444115007,Thor,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Kenneth Branagh,Two worlds. One hero.,"Against his father Odin's will, The Mighty Tho...",115,Adventure|Fantasy|Action,Marvel Studios|Marvel Entertainment,4/21/2011,6.5,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
months = {1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
          7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь'}
answers = {}

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [35]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

# Для сохранения в словарь answers только названия фильма используем iloc
answers['1'] = data[data.budget == data.budget.max()].original_title.iloc[0]
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'James Cameron',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

ВАРИАНТ 2

In [6]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

#Группируем
grouped_data = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).index[0]
grouped_data

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [7]:
# аналогично подходят оба варианта из первого задания
answers['2'] = data[data.runtime == data.runtime.max()].original_title.iloc[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
# Изменяем условия об минимальном значении и подходят обя варианта решения
# группировка и указаны ниже по условиям
answers['3'] = data[data.runtime == data.runtime.min()].original_title.iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data.groupby(['original_title'])['profit'].max().sort_values(ascending=False).index[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [12]:
data['profit'] = data['revenue'] - data['budget']
answers['7'] = data.groupby(['original_title'])['profit'].max().sort_values(ascending=True).index[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
data['profit'] = data['revenue'] - data['budget']
answers['8'] = len(data[data.profit>0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
answers['9'] = data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
#задаем период
data_copy = data.loc[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].copy()
#  Самый убыточный фильм за период с 2012 по 2014 г.
answers['10'] = data_copy[data_copy.profit == data_copy.profit.min()].original_title.iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [16]:
# Разделяем столбец genres
data_genres = data.genres.str.cat(sep='|')
# преобразовываем
data_series = pd.Series(data_genres.split('|'))
# Считаем
answers['11'] = data_series.value_counts().index[0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
import pandas as pd
import collections
from itertools import combinations
data['profit'] = data['revenue'] - data['budget']
data_genres_profit = data[data.profit > 0].copy()
answers['12'] = collections.Counter(data_genres_profit.genres.str.cat(sep='|').split('|')).most_common()[0][0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [18]:
answers['13'] = data[data.revenue == data.revenue.max()].director.iloc[0]
answers['13']

'James Cameron'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [19]:
# Создаем копию Action
data_action = data[data.genres.str.contains('Action', na=False)].copy()
answers['14'] = collections.Counter(data_action['director'].str.cat(sep='|').split('|')).most_common()[0][0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
# Список фильмов 2012 г.
data_release_year2012 = data[data.release_year == 2012].copy()
# Разделяем актеров
data_release_year2012['cast'] = data_release_year2012['cast'].str.split('|')
data_release_year2012 = data_release_year2012.explode('cast')
answers['15'] = data_release_year2012.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
data_budget_col = data[(data.budget > data.budget.mean())].copy()
answers['16']= collections.Counter(data_budget_col.cast.str.cat(sep='|').split('|')).most_common(1)[0][0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [22]:
data_NicolasCage = data[data.cast.str.contains('Nicolas Cage')]
answers['17'] = collections.Counter(data_NicolasCage['genres'].str.cat(sep='|').split('|')).most_common(1)[0][0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [23]:
data['profit'] = data['revenue'] - data['budget']
# Сортируем строки production_companies
data_ParamountPictures_Pmin = data[data.production_companies.str.contains('Paramount Pictures')].copy()
# Сортируем прибыль
data_ParamountPictures_Pmin = data_ParamountPictures_Pmin.sort_values(by='profit', ascending=True)
#Убфточный фильм
answers['18'] = data_ParamountPictures_Pmin.original_title.iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [24]:
#отсортировать данные по убыванию профита
answers['19'] = data.groupby(['release_year']) ['profit'].sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [25]:
data['profit'] = data['revenue'] - data['budget']
#Фильтрем строки
data_WB = data[data.production_companies.str.contains('Warner Bros')].copy()
#отсортировать данные по убыванию профита
answers['20'] = data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
# Копия
data_month = data.copy()
# Преобразуем колонку с реальной датой
data_month['release_date'] = data_month['release_date'].apply(lambda x: x.split('/'))
# Из еолонки реальной даты месяц записываем в новую колонку month
data_month['month']= data_month['release_date'].apply(lambda x: int(x[0]))
#Количество фильмов в месяце
numbers_months = data_month.month.value_counts()
# Находим месяц в котором сумарно вышло больше всего фильмов и выводим
answers['21']=months[numbers_months.index[0]]
answers['21']

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
# Находим сумарно вышедшие фильмы летом и выводим
answers['22'] = (len(data_month[data_month['month'].isin(['6', '7', '8'])]))
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [28]:
# Находим режисера с для которого зима самое продуктивное время
answers['23'] = data_month[data_month.month.isin(['12', '1', '2'])].director.value_counts().index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [29]:
#Копия
data_Ltitle = data.copy()
#Создаем новую калонку где отражена длина фильма в цифрах
data_Ltitle['original_Ltitle'] = data_Ltitle['original_title'].apply(lambda x: len(x))
#Разделяем студии
data_Ltitle['production_companies'] = data_Ltitle['production_companies'].str.split('|')
#создаем свою строчку
data_Ltitle = data_Ltitle.explode('production_companies')
#Группируем и выводим результат
answers['24'] = data_Ltitle.groupby(['production_companies']).original_Ltitle.mean().sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [30]:
#Создаем новую калонку по колличеству слов
data_Ltitle['overview'] = data_Ltitle['overview'].apply(lambda x: len(x.split()))
#Группируем и выводим результат
answers['25'] = data_Ltitle.groupby(['production_companies']).overview.mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [31]:
#Копия
data_thebest = data.copy()
# Сортируем по голосам 
data_thebest = data_thebest.sort_values('vote_average')[['original_title', 'vote_average']]
#Лучшие фильмы 1% вошедшии в рейтинг
data_thebest = data_thebest.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending = False)
# Фильмы для ответа
answers['26'] = data_thebest['original_title'].iloc[[2,0,13]].values.tolist()
answers['26']

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [32]:
#Копия
data_duble = data.copy()
#Разделяем актеров
data_duble['cast'] = data_duble['cast'].apply(lambda x: x.split('|'))
#Создаем новую колонку, находим пары
data_duble['couple'] = data_duble['cast'].apply(lambda x: list(combinations(x, 2)))
# Создаем для пар свою строчку
data_duble = data_duble.explode('couple')
# Возвращаем наиболее повторяемые пары актеров
answers['27'] = collections.Counter(data_duble['couple']).most_common(1)[0][0]
answers['27']

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [36]:
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'James Cameron',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [37]:
len(answers)

27